body{
    background-color: #9EC6C3;
}

h1,
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFE5D4;
    background-color: #694F5D;
}

.head{
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-size: 4rem;
}

a{
    color: #694F5D;
    font-weight: 600;
}

img{
    height: 300px;
    width: auto;
}